<!DOCTYPE html>
<html>
<head>
<title>51?數褰?</title>
<meta name="description" content="Welcome to the DevDojo">
<meta name="viewport" content="initial-scale=1,user-scalable=no,maximum-scale=1">
<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" />
<link rel="stylesheet" href="/static/css/noty.css" />
<link rel="stylesheet" href="/static/css/prism.css" />
<!--[if gte IE 9]>
  <style type="text/css">
    .gradient {
       filter: none;
    }
  </style>
<![endif]-->
<link rel="stylesheet" href="/static/css/style.css" />
<link rel="stylesheet" href="/static/css/rrssb.css" />
<link rel="stylesheet" href="/static/css/animate.min.css" />
<style type="text/css">.theme_color_background, #signup-form .panel-heading, .post .post-img h3, .block .block-contents p.date .label.label-success, .btn.btn-primary, .second-nav.navbar-default .navbar-nav li.active a, .second-nav.navbar-default .navbar-nav li a:hover, .vjs-default-skin .vjs-play-progress, .vjs-default-skin .vjs-volume-level{ background: #DB1D1B; }.btn.btn-primary, .form-control:focus, .second-nav.navbar-default .navbar-nav li:hover, .second-nav.navbar-default .navbar-nav li.active{ border-color:#DB1D1B; }.post .post-img h6{ background: #ef312f; }.theme_color, a, .page a, footer ul li a, .home footer ul li a{ color:#DB1D1B; }footer ul li a:hover, .home footer ul li a:hover{ color:#ef312f; }</style>
<style type="text/css">.series .block{ margin-bottom:20px; }</style>
<style type="text/css">
.navbar-default{
    background-color:rgba(0,175,239,0.95);
    border-bottom:1px solid #00aeef;
}
</style>
<link href='/static/css/opensans.css' rel='stylesheet' type='text/css'>
<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
</head>

<body class="home">
{% include 'header.html' %}
<div class="clear"></div>
<link rel="stylesheet" href="/static/css/pgwslider.min.css" />
<!-- basic stylesheet -->
<link rel="stylesheet" href="/static/css/royalslider.css">
<!-- skin stylesheet (change it if you use another) -->
<link rel="stylesheet" href="/static/css/rs-default.css"> 
<!-- Main slider JS script file --> 
<!-- Create it with slider online build tool for better performance. -->
<script src="/static/js/jquery.royalslider.min.js"></script>
<style type="text/css">
    .rsDefault .rsBullets{
        height:30px;
        background:none;
    }
    .rsDefault .rsBullet{
        padding:6px 6px 6px;
        cursor:pointer;
    }
</style>


<div class="royalSlider rsDefault realcontent">
    {% for topinfo in toplist %}
        <div class="rsContent" style="background:url({{topinfo.picurl}}); background-size:cover; background-position:center center;">
            <div class="bgdim"></div>
            <div class="home-bg-gradient"></div>
            <a href="{{topinfo.movieurl}}"><img src="http://devdojo.com/content/themes/devdojo/assets/img/play-button-huge.png" /></a>
            <div class="container">
                <div class="details">
                    <div class="headline" style="opacity: 1;"><div class="shadow">{{topinfo.title}}</div><div class="origin">{{topinfo.title}}</div></div>
                    <div class="description" style="opacity: 1;"><div class="shadow">{{topinfo.desc}}</div><div class="origin">{{topinfo.desc}}</div></div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

<div class="container">
    <div id="home-content">
    
        <div class="row series" style="margin-bottom:30px; margin-top:v class="col-md-12">
            <h3><a href="/shows">最热电影</a></h3>
            {% for hotinfo in hotlist %}
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-4">
                <article class="block">
                    <a class="block-thumbnail" href="/detail?id={{hotinfo.id}}">
                        <img src="{{hotinfo.picurl}}" style="height:285px">
                        <div class="details">
                            <h2>{{hotinfo.title}}<h2>
                            <span></span>
                        </div>
                    </a>
                </article>
            </div>
            {% endfor %}
        </div>
        
    </div>
    
    
    <div class="pagination" style="text-align:center; display:block; margin:0px auto">
        <ul class="pagination" style="margin:0px;float:right;">
        </ul>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <h3><a href="/videos"><i class="fa fa-youtube-play" style="position:relative;top:3px;"></i>最新电影</a></h3>
        </div>
        {% for onenew in newlist %}
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
            <article class="block">
                <a class="block-thumbnail" href="/detail?id={{onenew.id}}">
                    <div class="thumbnail-overlay"></div>
                    <span class="play-button"></span>
                    <img src="{{onenew.picurl}}" style="height:500px">
                    <div class="details">
                        <h2></h2>
                        <span></span>
                    </div>
                </a>
                <div class="block-contents">
                    <p class="date">{{onenew.title}}<span class="label label-info">{{onenew.doubanscore}}</span></p>
                    <p class="desc">{{onenew.desc}}</p>
                </div>
            </article>
        </div>
        {% endfor %}
    </div>
    
    <div class="pagination" style="text-align:center;display:block;margin:0px auto">
        <ul class="pagination" style="margin:0px; ">
            <li><a href="/list">查看更多热门电影</a></li>
        </ul>
    </div>
    
    
    
    <div style="clear:both; height:30px;"></div>
    
</div>

<script src="/static/js/pgwslider.min.js"></script>
<script>
    $(document).ready(function(){
        $('.pgwSlider').pgwSlider({maxHeight:360});
        
        $('.signup-sidebar').hover(function(){
            $(this).find('a').removeClass('bounce').addClass('animated rubberBand');
            $(this).find('img').removeClass('bounce').addClass('animated');
        },function(){
            $(this).find('a').removeClass('rubberBand').addClass('bounce');
        });
    });
</script>
<script>
    jQuery(document).ready(function($){
        $(".royalSlider").royalSlider({
            keyboardNavEnabled: true,
            loop: true,
            transitionType: 'fade',
            autoPlay:{
                enabled:true,
                pauseOnHover:false,
                delay:5500
            }
        });
    });
</script>

<script src="/static/js/rrssb.min.js"></script>
{% include 'foot.html' %}

<script type="text/javascript" src="/static/js/headroom.min.js"></script>
<script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/static/js/moment.min.js"></script>
<script type="text/javascript" src="/static/js/jquery.noty.js"></script>
<script type="text/javascript" src="/static/js/default.js"></script>
<script type="text/javascript" src="/static/js/top.js"></script>
<script type="text/javascript">
    var myElement = document.querySelector(".navbar");
    //var headroom = new Headroom(myElement, { offset: 65 });
    //headroom.init();
    
    $('document').ready(function(){
        $('.dropdown').hover(function(){
            $(this).addClass('open');
        }, function(){
            $(this).removeClass('open');
        });
        
        $('#nav-toggle').click(function(){
            $(this).toggleClass('active');
            $('.navbar-collapse').toggle();
            $('body').toggleClass('nav-open');
        });
        $('#mobile-subnav').click(function(){
            if ($('.second-nav .navbar-left').css('display') == 'block'){
                $('.second-nav .navbar-left').slideUp(function(){
                    $(this).addClass('not-visible');
                });
                $(this).html('<i class="fa fa-bars"></i> Open Submenu');
            }else{
                $('.second-nav .navbar-left').slideDown(function(){
                    $(this).removeClass('not-visible');
                });
                $(this).html('<i class="fa fa-close"></i> Close Submenu');
            }
        });
    });

    /**************  LOGIN MODAL FUNCTIONALITY   *******************/
    var loginSignupModal = $('<div class="modal fade animated bounceInDown" id="loginSignupModal" tabindex="-1" role="dialog" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal"><i class="dojo-close-delete"></i><span class="sr-only">Close</span></button><h4 class="modal-title" id="myModalLabel">Login Below</h4></div><div class="modal-body"></div></div></div></div>');

    $(document).ready(function(){
        //Load the Modal Window for login signup when they are clicked
        $('.login-desktop a').click(function(e){
            e.preventDefault();
            $('body').prepend(loginSignupModal);
            $('#loginSignupModal .modal-body').load($(this).attr('href') + '?redirect=' + document.URL + ' .form-signin', function(){
                $('#loginSignupModal').show(200, function(){
                    setTimeout(function(){$('#email').focus()},300);
                });
                $('#loginSignupModal').modal();
            });

            //Be sure to remove the modal from the DOM after it is closed
            $('#loginSignupModal').on('hidden.bs.modal', function(e){
                $('#loginSignupModal').remove();
            });
        });
    });
</script>


</body>
</html>

